<h1>Bem vindo a escola do Futuro! Faça seu login</h1>

<form action="/login" method="post">
<div>
    <input type="email" name="userEmail" placeholder="Digite seu email">
</div>
<div>
    <input type="password" name="userPassword" placeholder="Digite sua senha">
    
</div>
<div>
    {{#if loginError}}
        <span class="text-danger">{{loginError}}</span>
    {{/if}}
</div>
<button type="submit" class="btn btn-primary">Efetuar login</button>
</form>