<div class="input-form">
    <h1 class="section-title">Página não encontrada</h1>
    <p>Uh-oh! Não encontramos a página que você procura. Retorne ao menu inicial.</p>
    <img src="/images/not-found.jpg" alt="Not found image">
    <div class="d-flex justify-content-around">
        <a href="/"><button class="btn btn-primary">Voltar para a página inicial</button></a>
    </div>
</div>