<div class="input-form">
<h1 class="section-title">Esqueceu sua senha?</h1>
<p class="text-center">Solicite uma nova senha temporária e te enviaremos por email</p>

<form action="/forgot-password" method="post" class="px-4 py-3 needs-validation" novalidate>
    <div class="mb-3">
      <label for="currentEmail" class="form-label">Seu email:</label>
      <input type="email" class="form-control 
        {{#if validationErrors.userEmailError}}
          is-invalid
        {{/if}}" name="currentEmail" value="{{currentEmail}}" required>
         {{#if validationErrors.userEmailError}}
            <div class="invalid-feedback">
            {{validationErrors.userEmailError}}
            </div>
        {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Enviar nova senha por email</button>
  </form>
</div>