<div class="input-form">
<h1 class="section-title">Sua solicitação foi enviada ao nosso time!</h1>

<p class="text-center">Você já está quase lá! Em breve o nosso time entrará em contato com o email {{requestUserEmail}}.</p>

<img src="./images/study-resources.jpg" alt="Study image">

</div>

