<div class="input-form">
<h1 class="section-title">Altere sua senha:</h1>

<form action="/reset-password" method="post" class="px-4 py-3 needs-validation" novalidate>
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Senha atual:</label>
      <input type="password" class="form-control 
        {{#if validationErrors.currentPasswordError}}
          is-invalid
        {{/if}}" name="currentPassword" required>
         {{#if validationErrors.currentPasswordError}}
            <div class="invalid-feedback">
            {{validationErrors.currentPasswordError}}
            </div>
        {{/if}}
    </div>
    <div class="mb-3">
      <label for="newPassword1" class="form-label">Nova senha:</label>
      <input type="password" class="form-control 
        {{#if validationErrors.newPasswordError}}
          is-invalid
        {{/if}}" name="newPassword1" required>
         {{#if validationErrors.newPasswordError}}
            <div class="invalid-feedback">
            {{validationErrors.newPasswordError}}
            </div>
        {{/if}}
    </div>
    <div class="mb-3">
      <label for="newPassword2" class="form-label">Digite novamente a nova senha:</label>
      <input type="password" class="form-control 
        {{#if validationErrors.newPasswordError}}
          is-invalid
        {{/if}}" name="newPassword2" required>
         {{#if validationErrors.newPasswordError}}
            <div class="invalid-feedback">
            {{validationErrors.newPasswordError}}
            </div>
        {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Redefinir senha</button>
  </form>
</div>