<div class="input-form">
    {{#if isNewAccount}}
        <h1 class="section-title">Sua solicitação foi enviada ao nosso time!</h1>
        <p class="text-center">Você já está quase lá! Em breve o nosso time entrará em contato com o email {{requestUserEmail}}.</p>
    {{else}}
    <h1 class="section-title">Sua senha foi redefinida com sucesso!</h1>
    <p class="text-center">Em breve você receberá sua senha temporária no email {{currentEmail}}.</p>
    {{/if}}
<img src="./images/study-resources.jpg" alt="Study image">

</div>

