/* form {
  margin: 3vh 20vw;
} */

#main-content {
  margin: 3vh 5vw;
}

#home-title {
  color: #0275d8;
  font-size: 4em;
  text-align: center;
}

.section-title {
  color: #0275d8;
  text-align: center;
}

.input-form {
  position: relative;
  width: 50vw;
  left: 20vw;
}

h5 span {
  font-weight: normal;
  font-size: 0.8em;
}

.warning {
  display: block;
  color: red;
}

.item-img {
  max-width: 100%;
  height: auto;
}

.content-card {
  margin: 10px 0;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content-img {
  width: 30vw;
  margin: 20px;
}

.content-container {
  display: flex;
}

.filter-icon {
  margin-left: 10px;
}

.reduce-text-size {
  font-size: 0.85rem;
}
